<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>뱅크핀</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover">
	<link rel="stylesheet" type="text/css" href="/user/static/assets/css/common.css" />
</head>

<body>

	<!-- wrap -->
	<div id="wrap">

		<!-- header -->
		<header id="header">
			<div class="header_sub">
				<div class="inner">
					<button class="backBtn" id="btn_previous"><span class="blind">뒤로가기</span></button>
					<h2 class="ttl">금리정보</h2>
				</div>
			</div>
			<!-- //header_sub e -->
		</header>
		<!-- //header e -->

		<!-- container -->
		<div id="container">

			<!-- content -->
			<!-- 맞춤상품비교 리스트 백그라운드 컬러 필요!!!class "content bg" -->
			<div class="content">

				<div class="cuslon_top">
					<div class="list_tit">
						<span class="us_name">다양한 금리를 한눈에 비교해주세요.</span><br>
						<sub><sub>금융감독원에서 제고하는 정보기준(2022년 10월 1일자)</sub></sub>
					</div>

					<div class="loan_column" id="rate_summary">
						<script id="rate_summary_template" type="text/x-handlebars-template">
						<ol>
							<li>
								<label>최저금리</label>
								<strong>{{toFixed minLstLnRate}}<em>%</em></strong>
							</li>
							<li>
								<label>전세자금대출</label>
								<strong>{{toFixed maxLstLnRate}}<em>%</em></strong>
							</li>
							<li>
								<label>개인신용대출</label>
								<strong class="yellow">{{toFixed calcLstLnRate}}<em>%</em></strong>
							</li>
						</ol>
						</script>
					</div>
				</div>

				<div class="list_con">

					<div class="navi">
						<ul>
							<li><a class="menu active" title="개인신용대출">개인신용대출</a></li>
						</ul>
					</div>


					<div class="lon_box_list">
						<small>* 금리순<br>&nbsp;</small>
						<dl id="rate_list">
							<!--리스트 box-->
							<script id="rate_list_template" type="text/x-handlebars-template">
							{{#items}}
							<a>
								<dt class="bank_info">
									<img src="{{bankImage bankBrchCd}}" alt="">
									<p>
										<strong>{{bankName bankBrchCd}}</strong>
										<sub>{{lnPrdtNm}}</sub>
										<label class="lowest">최저금리</label>
									</p>
								</dt>

								<dd>
									<ol>
										<li>
											<label>최저금리</label>
											<em>연</em><strong>{{toFixed lstLnRate}}</strong><b>%</b>
										</li>
										<li>
											<label>예상한도</label>
											<strong>{{toCurrency lstLnLmtAmt}}</strong><em>만원</em>
										</li>
									</ol>
									<span><label>{{bankType bankCd}}금융</label> <!--label>오프라인 가능</label> <label>바로대출</label--></span>
								</dd>
							</a>
							{{/items}}
							</script>
							<!--리스트 box e-->
						</dl>
					</div>

				</div>

			</div>
			<!-- content e -->

		</div>
		<!-- //container e -->

	</div>
	<!-- //wrap e-->

	<script type="text/javascript" src="/user/static/assets/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/jquery.easing.1.3.min.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/jquery-ui.js"></script>
	<script src="/user/static/assets/js/mobile.js"></script>
<!--	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
	<script src="/user/static/assets/js/axios.min.js"></script>
    <script src="/user/static/assets/js/handlebars.js"></script>
    <script src="/user/static/assets/js/handle_wrapper.js"></script>
    <script src="/user/static/assets/js/handle_helper.js"></script>
    <script src="/user/static/assets/js/handle_loan_helper.js"></script>

	<!--금리순/한도순-->
	<script>
		const wrapData = {
			summary: {
				minLstLnRate: 0,
				maxLstLnRate: 0,
				calcLstLnRate: 0
			},
			list:{
				items: []
			}
		};

		function previous() {
			Bankpin.pageLink('/user');  // to Native
		}

		const rate_summary_wrap = new HandleWrapper();
		function search_rate_summary() {
			axios.get('/user/api/v1/main/rate-info-summary')
				.then(function(request) {
					if (request.status == 200) {
						if (!request.data.error) {
							wrapData.summary = request.data.data;
							rate_summary_wrap.put(wrapData.summary);
						} else {
							console.log('error', request.data.message);
							alert('요청이 실패 하였습니다. 잠시 후 다시 요청하세요.');
						}
					} else {
						console.log('error', request.data);
						alert('요청이 실패 하였습니다. 잠시 후 다시 요청하세요.');
					}
				})
				.catch(function(error) {
					if (error.response) {
						console.error(error);
						alert('요청이 실패 하였습니다. 관리자에게 문의 하세요.');
					}
				});
		}

		const rate_list_wrap = new HandleWrapper();
		function search_rate_list() {
			axios.get('/user/api/v1/main/rate-info-list')
				.then(function(request) {
					if (request.status == 200) {
						if (!request.data.error) {
							wrapData.list.items = request.data.data;
							rate_list_wrap.cleanFetch(wrapData.list);
						} else {
							console.log('error', request.data.message);
							alert('요청이 실패 하였습니다. 잠시 후 다시 요청하세요.');
						}
					} else {
						console.log('error', request.data);
						alert('요청이 실패 하였습니다. 잠시 후 다시 요청하세요.');
					}
				})
				.catch(function(error) {
					if (error.response) {
						console.error(error);
						alert('요청이 실패 하였습니다. 관리자에게 문의 하세요.');
					}
				});
		}

		$(document).ready(function() {
			$('ul li a').click(function() {
				$('li a').removeClass("active");
				$(this).addClass("active");
			});

			jQuery('#btn_previous').on("click", function() {
				previous();
			});

			rate_summary_wrap.setTemplate($('#rate_summary_template').html());
			rate_summary_wrap.setData(wrapData.summary);
			rate_summary_wrap.compile($('#rate_summary'));

			rate_list_wrap.setTemplate($('#rate_list_template').html());
			rate_list_wrap.setData(wrapData.list);
			rate_list_wrap.compile($('#rate_list'));

			search_rate_summary();
			search_rate_list();
		});
	</script>

</body>

</html>