<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>뱅크핀</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover">
	<link rel="stylesheet" type="text/css" href="/user/static/assets/css/common.css" />
</head>

<body>

	<!-- wrap -->
	<div id="wrap">

		<!-- container -->
		<div id="container">

			<!-- content -->
			<div class="content">

				<div class="bank_link">
					<p>은행에 가지않고<br>앱설치해서 대출 입금까지</p>
					<sub>아래와 같은 순서로 진행해주세요.</sub>

					<ul class="step_ex">
						<li>
							<img src="/user/static/assets/images/common/bank_step01.svg" alt="">
							<strong>01</strong>
							<em>앱설치</em>
						</li>

						<li>
							<img src="/user/static/assets/images/common/bank_step02.svg" alt="">
							<strong>02</strong>
							<em>본인확인</em>
						</li>

						<li>
							<img src="/user/static/assets/images/common/bank_step03.svg" alt="">
							<strong>03</strong>
							<em>입금</em>
						</li>
					</ul>

					<span>
						저녁 시간 그리고 주말에도<br>
						<b>신청완료즉시 입금가능</b>합니다</span>


				</div>

				<div class="bottom_gui_txt">
					<strong>안내사항</strong>
					<ul>
						<li>당사 심사기준과 신용도에 따라 한도 및 금리가 변동될 수 있습니다.</li>
						<li>금융사 대출실행 가능시간에만 계약을 진행할 수 있습니다.</li>
						<li>평일 오전 9시 ~ 오후 6시00분 / 공휴일.주말 불가</li>
						<li>sc제일은행 고객센타 : 1588-1599</li>
					</ul>
				</div>
			</div>
			<!-- content e -->

		</div>
		<!-- //container e -->



		<!-- bottom button -->
		<div class="bottom_btn">
			<button class="common" onclick="next()">대출신청하기</button>
		</div>
		<!-- bottom button e-->

	</div>
	<!-- //wrap e-->

	<script>
		function previous() {
			window.history.back();
		}

		function next() {
			window.location.href = "/user/lnqrslt/accepting-detail";
		}
	</script>

</body>

</html>