<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>뱅크핀</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover">
	<link rel="stylesheet" type="text/css" href="/user/static/assets/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/user/static/assets/css/slick.css">
</head>

<body>

	<!-- wrap -->
	<div id="wrap">

		<!-- header -->
		<header id="header" class="header">
			<div class="inner">
				<h1><a href="javascript:;" class="logo"><img src="/user/static/assets/images/common/logo.svg"></a></h1>

				<button class="more_btn"><span class="blind">더보기</span></button>

				<p class="main_vis_txt">
					손 안에 있는 대출<br>
					<strong>이제 어디서든 <b>뱅크핀</b>하세요.</strong>
				</p>

			</div>
		</header>
		<!-- //header -->



		<!-- container -->
		<div id="container">

			<!-- content -->
			<div class="content">

				<!-- mortgage_banner -->
				<div class="mortgage_banner">
					<p class="tag"><label>주택구입</label> <label>생활자금</label> <label>사업자금</label></p>
					<em>조회 한번으로 끝내는</em>
					<strong><b>맞춤</b> 부동산 대출</strong>
				</div>
				<!-- //mortgage_banner e-->

				<!-- notic -->
				<div class="notic">
					<label>공지</label>

					<div class="animated-title">
						<div class="track">
							<div class="notice_tit">오픈이벤트 안녕하세요 뱅크핀입니다. 오픈이벤트 안녕하세요 뱅크핀입니다. 오픈이벤트 안녕하세요 뱅크핀입니다. 오픈이벤트 안녕하세요 뱅크핀입니다. 오픈이벤트 안녕하세요 뱅크핀입니다. 오픈이벤트 안녕하세요 뱅크핀입니다. 오픈이벤트 안녕하세요 뱅크핀입니다.</div>
						</div>
					</div>

				</div>
				<!-- //notic e-->


				<!-- loan_link -->
				<div class="loan_link">
					<div>
						<a href="javascript:;">
							<em>빠르고 간편한</em>
							<p>신용 대출 바로가기</p>
						</a>
					</div>
					<div>
						<a href="javascript:;">
							<em>쉽고 빠르게 신청하는</em>
							<p>전/월세 대출 바로가기</p>
						</a>
					</div>
				</div>
				<!-- //loan_link e -->

				<!-- my_loan -->
				<div class="my_loan">

					<p class="view_more">
						<span>
							<strong>내 대출</strong>
							<!--대출 신청한 이력이 없을 때-->
							<em>대출 신청한 이력이 없습니다.</em>
						</span>
						<button>조회하기</button>
					</p>

					<!--조회 후 대출 이력 리스트-->
					<div class="loan_list">

						<div class="loan_total">
							<em>현재 보유한 대출 정보입니다.</em>
							<ul>
								<li>
									<label>총 원금</label>
									<span class="all"><b>77,000,000</b>원</span>
								</li>
								<li>
									<label>총 잔액</label>
									<span class="balance"><b>77,000,000</b>원</span>
								</li>
							</ul>
						</div>

						<dl>
							<div>
								<dt><img src="/user/static/assets/images/common/bank01.svg"></dt>
								<dd>
									<p class="bank">
										<span>한국씨티은행</span>
										<em>살만한 신용대출</em>
									</p>
									<p class="pay">
										<em>16.3%</em>
										<span><b>5,000</b>만원</span>
									</p>
								</dd>
							</div>
							<div>
								<dt><img src="/user/static/assets/images/common/bank02.svg"></dt>
								<dd>
									<p class="bank">
										<span>한국씨티은행</span>
										<em>살만한 신용대출</em>
									</p>
									<p class="pay">
										<em>16.3%</em>
										<span><b>5,000</b>만원</span>
									</p>
								</dd>
							</div>
						</dl>
					</div>
					<!--조회 후 대출 이력 리스트 e-->


				</div>
				<!-- my_loan e -->

				<!--my_credit_score-->
				<div class="my_credit_score">

					<p class="view_more">
						<span>
							<strong>내 신용점수</strong>
							<em>2022.08.22 기준 / 1000점 만점</em>
						</span>
						<!--조회 후 다시 조회할 때 텍스트 변경-->
						<button>다시 조회하기</button>
					</p>

					<!--조회 후 신용점수 영역-->
					<div class="score">
						<strong><b>985</b>점</strong>
						<p>
							<span>상위 <b>2%</b></span>
							<span>연체 가능 <b>0.09%</b></span>
						</p>
						<div class="progress-bar">
							<div class="progress"></div>
						</div>
					</div>

				</div>
				<!--my_credit_score e-->

				<!--event_banner-->
				<div class="event_banner">
					<img src="/user/static/assets/images/main/main_banner.png">
				</div>
				<!--event_banner e-->

				<!--loan_etc-->
				<dl class="loan_etc">
					<div class="tip">
						<dt>대출 <b>TIP</b> <button>more</button></dt>
						<dd>대출 Tip 본문 내용 가져오기. 길면 두줄에서 자르기 대출 Tip 본문 내용 가져오기. 길면 두줄에서 자르기 길면 두줄에서 자르기</dd>
					</div>
					<div class="news">
						<dt>금융 <b>NEWS</b> <button>more</button></dt>
						<dd>금융뉴스 본문 내용 가져오기. 길면 두줄에서 자르기 금융뉴스 본문 내용 가져오기. 길면 두줄에서 자르기 길면 두줄에서 자르기</dd>
					</div>
				</dl>
				<!--loan_etc e-->

				<!--appr_tit-->
				<div class="appr_tit">
					<strong><b>뱅크핀</b> 빠른 대출 승인</strong>
					<sub>쉽고 빠른 뱅크핀에서 대출 받자!!!</sub>
				</div>
				<!--appr_tit e-->

				<!--appr_list-->
				<div class="appr_list">

					<dl>
						<dt>
							<p class="tt">대출가능 <b>1</b></p>
							<p class="num"><label>최대한도</label> <b>6,000</b>만원</p>
							<p class="num"><label>최저금리</label> <b>4.18%</b></p>
						</dt>
						<dd class="man">
							<p class="name">김**님(40대)</p>
							<p class="type">
								<span>경기도</span>
								<span>아파트</span>
								<span>생활비</span>
							</p>
						</dd>
					</dl>

					<dl>
						<dt>
							<p class="tt">대출가능 <b>1</b></p>
							<p class="num"><label>최대한도</label> <b>6,000</b>만원</p>
							<p class="num"><label>최저금리</label> <b>4.18%</b></p>
						</dt>
						<dd class="woman">
							<p class="name">김**님(40대)</p>
							<p class="type">
								<span>경기도</span>
								<span>아파트</span>
								<span>생활비</span>
							</p>
						</dd>
					</dl>

					<dl>
						<dt>
							<p class="tt">대출가능 <b>1</b></p>
							<p class="num"><label>최대한도</label> <b>6,000</b>만원</p>
							<p class="num"><label>최저금리</label> <b>4.18%</b></p>
						</dt>
						<dd class="man">
							<p class="name">김**님(40대)</p>
							<p class="type">
								<span>경기도</span>
								<span>아파트</span>
								<span>생활비</span>
							</p>
						</dd>
					</dl>

					<dl>
						<dt>
							<p class="tt">대출가능 <b>1</b></p>
							<p class="num"><label>최대한도</label> <b>6,000</b>만원</p>
							<p class="num"><label>최저금리</label> <b>4.18%</b></p>
						</dt>
						<dd class="woman">
							<p class="name">김**님(40대)</p>
							<p class="type">
								<span>경기도</span>
								<span>아파트</span>
								<span>생활비</span>
							</p>
						</dd>
					</dl>

					<dl>
						<dt>
							<p class="tt">대출가능 <b>1</b></p>
							<p class="num"><label>최대한도</label> <b>6,000</b>만원</p>
							<p class="num"><label>최저금리</label> <b>4.18%</b></p>
						</dt>
						<dd class="woman">
							<p class="name">김**님(40대)</p>
							<p class="type">
								<span>경기도</span>
								<span>아파트</span>
								<span>생활비</span>
							</p>
						</dd>
					</dl>

				</div>
				<!--appr_list e-->

				<!--rolling_wrap-->
				<ul class="rolling_wrap">
					<li href="" class="content"><img src="/user/static/assets/images/common/bank01.svg" alt="sc제일은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank02.svg" alt="sh수협은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank03.svg" alt="대구은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank04.svg" alt="부산은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank05.svg" alt="광주은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank06.svg" alt="부산저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank07.svg" alt="ibk저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank08.svg" alt="ok저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank09.svg" alt="osb저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank10.svg" alt="sbi저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank11.svg" alt="다올저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank12.svg" alt="웰컴저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank13.svg" alt="키움저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank14.svg" alt="하나저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank15.svg" alt="고려저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank16.svg" alt="동원제일저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank17.svg" alt="모아저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank18.svg" alt="상상인저축은행"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank19.svg" alt="새마을금고"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank20.svg" alt="수협"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank21.svg" alt="신협"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank22.svg" alt="한화생명"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank23.svg" alt="삼성생명"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank24.svg" alt="흥국생명"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank25.svg" alt="교보생명"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank26.svg" alt="우리카드"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank27.svg" alt="BNK캐피탈"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank28.svg" alt="JB우리캐피탈"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank29.svg" alt="롯데캐피탈"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank30.svg" alt="OK캐피탈"></li>
					<li href="" class="content"><img src="/user/static/assets/images/common/bank31.svg" alt="하나캐피탈"></li>
				</ul>
				<!--rolling_wrap e-->

			</div>
			<!-- content e -->

		</div>
		<!-- //container e -->

		<!-- bottomMemu -->
		<div class="bottomMemu">
			<div class="inner">
				<ul class="clearfix">
					<li class="botIcon01 on">
						<a href="javascript:;"><span></span>
							<p>HOME</p>
						</a>
					</li>
					<li class="botIcon02">
						<a href="javascript:;"><span></span>
							<p>주변은행</p>
						</a>
					</li>
					<li class="botIcon03">
						<a href="javascript:;"><span></span>
							<p>신청내역</p>
						</a>
					</li>
					<li class="botIcon04">
						<a href="javascript:;"><span></span>
							<p>MY</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- bottomMemu e-->

	</div>
	<!-- //wrap e-->

	<script type="text/javascript" src="/user/static/assets/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/jquery.easing.1.3.min.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/slick.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/slick.min.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/default.js"></script>
	<script type="text/javascript" src="/user/static/assets/js/rolling.js"></script>
    <script src="/user/static/assets/js/handlebars.js"></script>
    <script src="/user/static/assets/js/handle_wrapper.js"></script>

	<script>
		const handleWrap = new HandleWrapper();

		let data = {items: [
			{tt: 1, max: "6,000", low: "4.1%", icon: "man", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "woman", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "man", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "man", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "man", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "woman", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "man", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "woman", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "man", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]},
			{tt: 1, max: "6,000", low: "4.1%", icon: "woman", name: "김**님(40대)", types: [{type: "경기도"}, {type: "아파트"}, {type: "생활비"}]}
		]};
	</script>

	<script>
		$(document).ready(function() {
			$(".appr_list").slick({
				vertical: true,
				swipe: false,
				slidesToShow: 3,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 2000,
				arrows: false,
				verticalSwiping: true,

			});
		});
	</script>

</body>

</html>